{
  "plugins": [
    [
      "autocomplete-index",
      {}
    ],
    [
      "add-import-extension",
      {}
    ]
  ],
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}
